<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    
    <div class="container">
    <h1 style="color: #F48120;">Craig Kahle | Cloudflare CSE Assessment</h1>
    <h3 style="color: #F4A15D;">Home</h3>
        <p>Welcome to the Tunnel app</p>
        <a href="/dns">View DNS Records</a>
        <a href="/headers">View Headers</a>
        <a href="/worker">Worker</a>
        <a href="/secure">Secure</a>

        <h3 style="color: #F4A15D;">Setup Steps / Summary</h3>
        <ul>
            <li>
                First, I began writing a basic flask app to return all of the headers with a GET request to the /headers endpoint.
                From there, I used a commonn Dockerfile based on the Google Cloud docs to build the image and run the container.
                Initially, I deployed to Cloud Run, as it is an easy way to deploy containers, but I realized for this assessment I would need more control
                to place the Cloudflare signed certificate on the server as well as setting up a Cloudflare tunnel that has local network access to the application.
                It is definitely possible to do this with Cloud Run and a multistage Dockerfile, but I decided to use a Compute Engine instance instead.
            </li>
            <li>
                From there, I deployed a micro N1 GCE instance running a Debian 10 image. I installed Docker on the instance and cloned my application repo, which can be found here:
                <a target="_blank" href="https://github.com/ckahle33/cf-test">Cloudflare Assessment</a>. I used the Cloudflare GCP setup documentation to set up apach2 which is serving the root index.html file. 
                Nginx would normally be my webserver of choice, but Apache2 ease-of-use won out here. The provided link on how to add a Cloudflare signed cert was very useful here. 
            </li>
            <li>
                I then used the provided Cloudflare Tunnels Docker command to run the tunnel on the instance. I used the --no-autoupdate flag to prevent the tunnel from updating and breaking the application. 
                I also used the -d flag to daemonize the process. 
                The Cloudflare tunnel product is excellent, and very useful for exposing private services publically. I really like how easy it is to run the tunnel in a Docker container with the provided command from the UI.  
                The only gotcha I ran into was neededing to add the <code>--network host</code> flag, which I had to use to allow the tunnel to access the application on <code>localhost:5000</code>.

            </li>
            <li> 
                I then cloned my application repo using <code>git clone "https://github.com/ckahle33/cf-test"</code>, built and ran my Flask application using <code>docker build -t flask-app .</code> and  <code>docker run -p 5000:5000 flask-app</code>
            </li>
            <li>
                I decided to structure the application as a kitchen sink with multiple routes that solve the problems in the assessment. I used the <code>flask</code> and <code>requests</code> libraries to build the application.
                Requests made it straightforward to loop through and display the headers in the /headers route. 
            </li>
            <li>
                I wrote a scoped API call to grab all of the DNS records associated with my Cloudflare zone. The docs were solid here, but was slighlty misled because I needed to add the  <code>Authorization Bearer:</code>  bearer header instead of the 
                <code>X-Api-Key</code> header that was suggested in the docs. It is possible I misread the docs, but I was able to get it working with the bearer header.                
            </li>        
        </ul>        
        <h3 style="color: #F4A15D;">Did you learn anything new during this assignment?</h3>
            <p>Yes, I learned about the Cloudflare Tunnel product, which is excellent! It was nice to get a refresher on installing certs onto a server, which has been a while</p>
        <h3 style="color: #F4A15D;"> How did you fill the gaps (if any) in your knowledge during the process?</h3>
            <p>I mainly consulted the Cloudflare docs and GCP docs. The provded documentation was strong</p>
        <h3 style="color: #F4A15D;">What was your experience with Cloudflare Zero Trust, Cloudflare Tunnels and Cloudflare Workers?</h3>
            I really like Cloudflare Tunnels, and Workers. I am still getting used to Zero Trust, but can already see how it would be very helpful to lock down routes of an application super quickly. 
            I switched to the Wrangler CLI for Workers, and it is very easy to use. I like how it is a wrapper around the API, and I can use it to quickly deploy and update my worker. 
            It felt like writing a familiar node app where I could add dependencies and use npm to manage them.
        <h3 style="color: #F4A15D;">What issues did you run into (if any) and how did you overcome them?</h3>
            The only issues I ran into were pivoting to a Compute Engine instance instead of Cloud Run, and getting the Cloudflare tunnel to work with the application by using the <code>--network host</code> flag. 
            Cloud Run just announced support for sidecar and proxy containers, which would have made this easier, but is definitely a bleeding edge feature, thus GCE made more sense for now.
        <h3 style="color: #F4A15D;">How would you describe each product in simple language?</h3>
            <p>Cloudflare Tunnel: A way to expose private services publically</p>
            <p>Cloudflare Workers: A way to run serverless code on the edge</p>
            <p>Cloudflare Zero Trust: A way to lock down routes of an application</p>
        <h3 style="color: #F4A15D;">What use cases can you see each product being useful for?</h3>
            <p>Cloudflare Tunnel: This honestly can and will hopefully usher a move away from using VPNs for securing private resources. 
            VPNs definitely will have their place, but this is a great alternative for exposing private services publically, very quickly.            
            </p>
            <p>Cloudflare Workers: I really like this product in that you can build complete applications eg. html/react that some other FaaS (function as a service) 
            providers do not allow, or make it complicated to do. These applications could pair very nicely with larger infrastructure and handle crons or data movement/pipelines.
            </p>
            <p>Cloudflare Zero Trust: </p>
        <h3 style="color: #F4A15D;">How do you imagine that a target customer will find this experience?</h3>
            <p>I believe the products are very strong and easy to use. The documentation is excellent as well. I really liked seeing the diverse array of Worker examples that used the Wrangler CLI.
             The only slightly confusing aspect I encountered is that Zero Trust products use a separate dashboard than dash.cloudflare.com</p>
    </div>
</body>
<footer>

</footer>
</html>

